<mat-icon>error_outline</mat-icon>
<h2 mat-dialog-title *ngIf="data.modelData.confirmPopup">Are you sure ?</h2>
<h2 mat-dialog-title *ngIf="data.modelData.successPopup">Successfully</h2>
<mat-dialog-content class="mat-typography" *ngIf="data.modelData.confirmPopup">
  <p>Do you want to <span>{{data.modelData.boldContent}}</span> {{data.modelData.content}}</p>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="data.modelData.successPopup">
  <p><span>{{data.modelData.boldContent}}</span> {{data.modelData.content}}</p>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="data.modelData.errorPopup">
  <p>There is problem saving this entry to the server</p>
</mat-dialog-content>


<mat-dialog-actions align="end" *ngIf="data.modelData.confirmPopup">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button (click)="confirmModelYes()">Yes</button>
</mat-dialog-actions>
<mat-dialog-actions align="end" *ngIf="data.modelData.successPopup || data.modelData.errorPopup">
  <button mat-button mat-dialog-close>Okay</button>
</mat-dialog-actions>