<!-- <div class="container">
  <div class="row">
    <table class="table table-hover table-bordered" id="excel-table" data-resizable="true">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Line</th>
          <th scope="col">GL Account Nbr</th>
          <th scope="col">Text</th>
          <th scope="col">Cost Center</th>
          <th scope="col">Qty*</th>
          <th scope="col">Rate*</th>
          <th scope="col">Ext*</th>
          <th scope="col">GroupHead*</th>
          <th scope="col">GroupID</th>
          <th scope="col">CreditMemo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gridData">
          <td><input type="text" class="form-control" [(ngModel)]="item.Line" name="{{item.Line}}"  placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.GL" name="{{item.GL}}"  placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.Text" name="{{item.Text}}"  placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.Cost" name="{{item.Cost}}"  placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.Qty" name="{{item.Qty}}" appOnlynumber placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.Rate" name="{{item.Rate}}" appOnlynumber placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.Ext" name="{{item.Ext}}" appOnlynumber placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.GroupHead" name="{{item.GroupHead}}" appOnlynumber placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.GroupID" name="{{item.GroupID}}"  placeholder=""></td>
          <td><input type="text" class="form-control" [(ngModel)]="item.CreditMemo" name="{{item.CreditMemo}}"  placeholder=""></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="container"> 
  <div class="row htScroll">
    <table class="table table-hover customers tableHead" id="excel-table" data-resizable="true">
      <thead>
        <tr>
          <th  scope="col">Line</th>
          <th scope="col">GL Account Nbr</th>
          <th scope="col">Text</th>
          <th scope="col">Cost Center</th>
          <th scope="col">Qty*</th>
          <th scope="col">Rate*</th>
          <th scope="col">Ext*</th>
          <th scope="col">GroupHead*</th>
          <th scope="col">GroupID</th>
          <th scope="col">CreditMemo</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr (keyup)="updateRowHighlight($event)" *ngFor="let item of gridData; let i = index" [ngClass]="{'activeRow': hightLightedRow=== i}" >
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.Line}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.GL}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.Text}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.Cost}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.Qty}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.Rate}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.Ext}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.GroupHead}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.GroupID}}</td>
          <td contenteditable="true" (click)="hightLightedRow = i" >{{item.CreditMemo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
