<form class="mt-4">

  <div fxLayout fxLayoutGap="20px" fxLayoutAlign="end">
    <mat-form-field fxFlex="15%">
      <mat-label>Source Type</mat-label>

      <mat-select [(ngModel)]="filterObj.fileCurrentStatusId" name="selSourceType">
        <mat-option *ngFor="let source of sourceTypes" [value]="source.transSourceId">
          {{ source.sourceDesc }}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field fxFlex="15%">
      <mat-label>Modified By</mat-label>
      <mat-select>
        <mat-option *ngFor="let source of modifiedBy" [value]="source.value">
          {{ source.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="15%">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="filterObj.fileCurrentStatusId" name="fileStatusType">
        <mat-option *ngFor="let source of statusTypes" [value]="source.statusId">
          {{ source.statusDescription }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>

    <mat-table [dataSource]="pendingDataList" *ngIf="pendingDataList.data.length >0">

      <ng-container matColumnDef="fileId">
        <mat-header-cell *matHeaderCellDef> File ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fileId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef class="w-l"> File Name </mat-header-cell>
        <mat-cell *matCellDef="let element" class="w-l"> {{element.fileName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sourceId">
        <mat-header-cell *matHeaderCellDef> Source ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sourceId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fileType">
        <mat-header-cell *matHeaderCellDef class="w-m"> File Type </mat-header-cell>
        <mat-cell *matCellDef="let element" class="w-m"> {{element.fileType}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sourceDescription">
        <mat-header-cell *matHeaderCellDef class="w-l"> Source Description </mat-header-cell>
        <mat-cell *matCellDef="let element" class="w-l"> {{element.sourceDescription}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fileCurrentStatus">
        <mat-header-cell *matHeaderCellDef class="w-m"> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" class="w-m">
          <span>{{element.fileCurrentStatus}}</span>
          <!-- <span *ngIf="element.fileProcessStatus === 'Received'" class="col-blue">{{element.fileProcessStatus}}</span>
          <span *ngIf="element.fileProcessStatus === 'Validated'"
            class="col-yellow">{{element.fileProcessStatus}}</span>
          <span *ngIf="element.fileProcessStatus === 'Returned'" class="col-red">{{element.fileProcessStatus}}</span>
          <span *ngIf="element.fileProcessStatus === 'Processed'"
            class="col-lightgreen">{{element.fileProcessStatus}}</span> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="forwardAction">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element;index as i;">
          <button  *ngIf="element.forwardAction" mat-stroked-button color="accent">{{element.forwardAction}}</button>
<!-- 
          <ng-container *ngIf="element.fileCurrentStatus==='Received'">
            <button mat-stroked-button color="info" (click)="onClickValidateDialog(i)">VALIDATE</button>
          </ng-container>
          <ng-container *ngIf="element.fileCurrentStatus==='Validated'">
            <button mat-stroked-button color="accent">PROCESS</button>
          </ng-container>
          <ng-container *ngIf="element.fileCurrentStatus==='Returned'">
            <button mat-stroked-button color="warn">DELETE</button>
          </ng-container>
          <ng-container *ngIf="element.fileCurrentStatus==='Processed'">
            <button mat-stroked-button color="secondary" disabled>PROCESS</button>
          </ng-container> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="backwardAction">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">

          <button mat-stroked-button *ngIf="element.backwardAction" color="primary">{{element.backwardAction}}</button>

          <!-- <button mat-stroked-button *ngIf="element.backwardAction"
            [color]="(element.fileCurrentStatus ==='Returned' || element.fileCurrentStatus ==='Processed') ? '' : 'primary'"
            [disabled]="element.fileCurrentStatus ==='Returned' || element.fileCurrentStatus ==='Processed'">{{element.backwardAction}}</button> -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="m-1"></mat-row>
    </mat-table>
    <mat-paginator  *ngIf="pendingDataList.data.length >0" [length]="totalSize" [pageSize]="filterObj.pageSize"
      [pageSizeOptions]="[5, 10, 15, 20, 30]"
      (page)="pageChanged($event)" 
      showFirstLastButtons>
    </mat-paginator>
  </div>
</form>