<mat-vertical-stepper orientation="vertical">
  <mat-step>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel class="mainTitle">Customer Information</ng-template>
      <div class="cusInfoblock">
        <p class="title active">Primary Info</p>
        <div class="blocks">
          <mat-form-field appearance="fill" class="cmpName">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" formControlName="cmpName" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="accNum">
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="Account Number" formControlName="accNum" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="branchCode">
            <mat-label>Branch Code</mat-label>
            <input matInput placeholder="Account Number" formControlName="branchCode" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="industry">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <section class="example-section" class="status">
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
          </section>
          <mat-form-field appearance="fill" class="cmpName">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" formControlName="cmpName">
          </mat-form-field>
          <section class="example-section" class="status">
            <mat-checkbox class="example-margin">Taxable</mat-checkbox>
          </section>
          <section class="example-section" class="status">
            <mat-checkbox class="example-margin">Creditcard</mat-checkbox>
          </section>
        </div>
      </div>
      <div class="cusInfoblock">
        <p class="title">Contact Info</p>
        <div class="blocks">
          <mat-form-field appearance="fill" class="contactAttention">
            <mat-label>Attention</mat-label>
            <input matInput placeholder="Attention" formControlName="contactAttention">
          </mat-form-field>
          <mat-form-field appearance="fill" class="contactCon">
            <mat-label>Contact</mat-label>
            <input matInput placeholder="Contact" formControlName="contactCon">
          </mat-form-field>
          <mat-form-field appearance="fill" class="contactPhone">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="contactPhone">
          </mat-form-field>
          <mat-form-field appearance="fill" class="contactExt">
            <mat-label>Contact</mat-label>
            <input matInput placeholder="Extension" formControlName="contactExt">
          </mat-form-field>
          <mat-form-field appearance="fill" class="contactFax">
            <mat-label>Contact</mat-label>
            <input matInput placeholder="Fax" formControlName="contactFax">
          </mat-form-field>
          <section class="example-section" class="emailInvoice">
            <mat-checkbox class="example-margin">Email Invoice</mat-checkbox>
          </section>
          <mat-form-field appearance="fill" class="contactEmail">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="contactEmail" required>
          </mat-form-field>
          <button mat-stroked-button class="addContactBtn">
            <img src="../../assets/images/plusIcn.svg" alt="add contact" />
            <span>Add Contact</span>
          </button>
        </div>
      </div>
      <div class="btnSection">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 2</ng-template>
    <ng-template matStepContent>
      <p>This content was also rendered lazily</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 3</ng-template>
    <p>This content was rendered eagerly</p>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>
</mat-vertical-stepper>
