.logoClass {
  height: 30px;
    width: 50px;
    padding-right: 0px;
    border-right-width: 0px;
    margin-right: 5px;
}

.light {
  background-color: #D3D3D2;
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom)*/
  font-weight: bold;
}

.padbtmtop0{
  padding-bottom: 0;
  padding-top: 0;
}
