.logoClass {
  height: 30px;
    width: 50px;
    padding-right: 0px;
    border-right-width: 0px;
    margin-right: 5px;
}

.light {
  background-color: #b6ced6;
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom)*/
}
