<div class="container-fluid">
    <div class="row">
        <div class="col-8 padLft0">
            <img class="img-fluid" src="../../assets/illustration.png" alt="">
        </div>
        <div class="col margintop225">
            <div>
                <img src="../../assets/topLoginImage.png" alt="">
            </div>
            <br>
            <form class="login-form">
                <div class="mb-3">
                    <input type="email" class="form-control" (keyup)="enableLoginButton()"
                        [(ngModel)]="userDetails.email" name="email" placeholder="domain\username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" (keyup)="enableLoginButton()"
                     [(ngModel)]="userDetails.password" name="password"
                        placeholder="password">
                </div>
                <br>
                <button type="submit" (click)="checkUser()" [ngClass]="{disableCustom: disableLoginButton }"
                    class="btn btn-primary">Sign in</button>
            </form>
            <br>
            <!-- <div *ngIf="showWarning" class="alert alert-danger" role="alert">
                Please enter correct user details
            </div> -->
        </div>
    </div>
</div>