<form [formGroup]="oracleSetupFormGroup">
  <div class="cusInfoblock w-100">
    <p class="title active">Oracle Setup</p>
    <div class="blocks w-100">
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Company Name" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Sales Person</mat-label>
        <mat-select>
          <mat-option value="{{salesperson.id}}" *ngFor="let salesperson of salesPersonsList">{{salesperson.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Customer Type</mat-label>
        <mat-select>
          <mat-option value="{{customer.id}}" *ngFor="let customer of customerTypes">{{customer.profile}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option value="{{cat.id}}" *ngFor="let cat of productCategoryList">{{cat.category}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Classification</mat-label>
        <mat-select>
          <mat-option value="{{classification.id}}" *ngFor="let classification of classificationsList">
            {{classification.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Customer Number</mat-label>
        <input matInput placeholder="Customer Number" required>
      </mat-form-field>
      <div class="oracleSetup w-100">
        <div class="oracleLocation w-100">
          <mat-form-field appearance="fill" class="formFieldSizeXL">
            <mat-label>Location Number</mat-label>
            <input matInput placeholder="Customer Number">
          </mat-form-field>
        </div>
        <div class="locationNote w-100">
          <span>Note:</span>
          <span>Except for Texas Tax customers, the Oracle customer and location numbers are generated automatically
            when the customer is added.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cusInfoblock w-100">
    <p class="title">Parent</p>
    <div class="blocks w-100">
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Company</mat-label>
        <mat-select>
          <mat-option value="{{cmpny.parentId}}" *ngFor="let cmpny of parentCompaniesList">{{cmpny.company}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Account Manager</mat-label>
        <mat-select>
          <mat-option value="{{manager.id}}" *ngFor="let manager of managersList">{{manager.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formFieldSizeXL">
        <mat-label>Collector</mat-label>
        <mat-select>
          <mat-option value="{{collector.collectorId}}" *ngFor="let collector of collectorsDataList">
            {{collector.collectorName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="btnSection w-100">
    <button mat-stroked-button disabled>Reset</button>
    <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
    <button mat-stroked-button disabled matStepperNext>Next</button>
  </div>
</form>
