.title {
  width: 100%;
  float: left;
  margin: {
    bottom: 16px;
    top: 16px;
  }
  font: {
    family: "roboto";
    size: 30px;
    weight: 300;
  }
  color: rgba(0, 0, 0, 0.4);
}
.mat-step-text-label.ng-star-inserted {
  position: relative;
  .closeImgBlock {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    > img {
      float: left;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
