<p>table-like-spreadsheet works!</p>
<div>
  <hot-table
  [settings]="hotSettings"
    >
      <hot-column data="line" title="Line"></hot-column>
      <hot-column data="glAccNbr" title="Gl Acc Nbr"></hot-column>
      <hot-column data="text" title="Text"></hot-column>
      <hot-column data="costCenter" title="Cost Center"></hot-column>
      <hot-column data="qty" title="Quntity"></hot-column>
      <hot-column data="rate" title="Rate"></hot-column>
      <hot-column data="groupHeader" title="Group Header"></hot-column>
      <hot-column data="groupId" title="Group Id"></hot-column>
      <hot-column data="creditMemo" title="Credit Memo"></hot-column>
  </hot-table>
</div>