@import "../../../../scss/variables";

.anchor {
  color: $color-blue;
  text-decoration: underline;
  cursor: pointer;
}

.width100 {
  width: 100%;
}


.scroll-datatable {
  height: 250px;
  overflow: auto;
}
