@import "../../../../scss/variables";

.anchor {
  color: $color-blue;
  cursor: pointer;
}

.full-width {
  width: 100%;
}


.scroll-datatable {
  height: 250px;
  overflow: auto;
}

//** mat-table css **//

.close-button{
  float: right;
}

.align-center {
  text-align: center;
}

