<div class="container">
  <h2>Enterprise Billing - Data Import</h2>

  <div class="mb-3 row">
    <label for="inputForm" class="col-lg-2 col-md-2 col-form-label">Input From</label>
    <div class="col-lg-4 col-md-4">
      <mat-form-field class="width100" id="inputForm" appearance="fill">
        <input matInput placeholder="Enter value" [(ngModel)]="inputDataObj.inputVal" value="">
      </mat-form-field>
    </div>

  </div>



  <div class="mb-3 row">
    <label for="srcType" class="col-lg-2 col-md-2 col-form-label">Source Type</label>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill" id="srcType" class="width100">
        <mat-select value ="{{inputDataObj.srcTypeId}}">
          <mat-option value="0">All</mat-option>
          <mat-option value="{{item.transSourceId}}" (click)="inputDataObj.srcTypeId = item.transSourceId" *ngFor="let item of srcType">{{item.sourceDesc}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="billingPeriod" class="col-lg-2 col-md-2 col-form-label">Billing Period</label>
    <div class="col-lg-4 col-md-4">
      <mat-form-field class="width100" id="billingPeriod">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="inputDataObj.billingPeriod.startDate" placeholder="From Date">
          <input matEndDate [(ngModel)]="inputDataObj.billingPeriod.endDate" placeholder="To Date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-3">
      <button class="btn btn-secondary" type="button" (click)="searchItems()">Select</button>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row scroll-datatable mat-elevation-z8">
      <mat-table [dataSource]="dataList" class="">
        'id', 'fileName', 'processedFileDate', 'validateFileDate', 'receivedFileDate', 'validatedUserName'
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef > Id </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileName">
          <mat-header-cell *matHeaderCellDef> Source Name </mat-header-cell>
          <mat-cell *matCellDef="let element" matTooltip={{element.fileName}}> {{element.fileName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="processedFileDate">
          <mat-header-cell *matHeaderCellDef> Processed Date </mat-header-cell>
          <mat-cell *matCellDef="let element" matTooltip={{element.processedFileDate}}> {{(element.processedFileDate | date: 'dd-MM-yyyy') || '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="validateFileDate">
          <mat-header-cell *matHeaderCellDef> Validated Date </mat-header-cell>
          <mat-cell *matCellDef="let element" matTooltip={{element.validateFileDate}}> {{(element.validateFileDate | date: 'dd-MM-yyyy') || '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="receivedFileDate">
          <mat-header-cell *matHeaderCellDef> Received Date </mat-header-cell>
          <mat-cell *matCellDef="let element" matTooltip={{element.receivedFileDate}}> {{(element.receivedFileDate | date: 'dd-MM-yyyy') || '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="validatedUserName">
          <mat-header-cell *matHeaderCellDef> Validated By </mat-header-cell>
          <mat-cell class="asdf" *matCellDef="let element" class="anchor"> {{element.validatedUserName || '-'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
