<div class="auth-page">

  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <p class="auth-page__logo-para"> Welcome back! Please login to your account
      </p>
      <h6 class="auth-page__logo-title">The First American Corporation</h6>
      <p class="auth-page__divider"></p>
      <p class="auth-page__logo-para"> First American Title helps homebuyers and sellers, real estate agents and
        brokers, mortgage lenders, commercial property
        professionals, homebuilders and developers, title agencies and legal professionals close transactions. find out
        more
        about our products and services, and how First American can help you streamline your transaction and protect
        your investment.
      </p>
      <hr />
    </div>
  </div>
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">

      <div class="auth-page__mt-large">
        <div class="header background-primary" fxLayout="column" fxLayoutAlign="center center">
        </div>
        <form novalidate #loginFormGroup="ngForm" (ngSubmit)="loginFormGroup.valid && onClickSignIn()">


          <div fxFlex="auto" fxLayout="column">
            <mat-label class="text-center">
              <img class="auth-page__logo-img" src="https://www.firstam.com/assets/lib/core/1.7/img/head-logo.png"
                alt="logo">

            </mat-label>
           

            <mat-form-field fxFlex="grow" appearance="fill" class="mb-1">
              <mat-label>User Name</mat-label>
              <input matInput  name="textName" [(ngModel)]="userName" #textName="ngModel" required>
              <mat-icon color="primary" matSuffix >person</mat-icon>
              <mat-error *ngIf="textName.errors?.required">
                Please enter valid user name
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="grow" appearance="fill" class="mb-1">
              <mat-label>Password</mat-label>
              <input matInput [type]="inputType" name="txtPassword" [(ngModel)]="password" #txtPassword="ngModel" required>
                <mat-icon mat-icon-button matSuffix (click)="toggleVisibility()" color="primary" class="cursor-pointer"
                matTooltip="Toggle Visibility" *ngIf="visible">visibility</mat-icon>
                <mat-icon mat-icon-button matSuffix (click)="toggleVisibility()" color="primary" class="cursor-pointer"
                matTooltip="Toggle Visibility" *ngIf="!visible">visibility_off</mat-icon>
              <mat-hint>Click the eye to toggle visibility</mat-hint>
              <mat-error *ngIf="txtPassword.errors?.required">
                Please enter password
              </mat-error>
            </mat-form-field>

          <button type="submit" mat-raised-button color="primary" [disabled]="loginFormGroup.invalid || isClickedOnce">
            LOGIN
          </button>
          <mat-hint  class="mt-5 text-center">© 2021 First American Financial Corporation and/or its affiliates. <div>All rights reserved.</div> </mat-hint>

        </div>
        </form>
      </div>

    </div>
  </div>
</div>