<div class="container">
  <p class="mb0"><b>General Invoice Information</b></p>
  <div class="row firstCube firstCubeHt">
    <div class="col-lg-6  col-md-6">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="mb-3 input-group-sm">
            <label for="exampleFormControlInput1" class="form-label fontSizeSmall ">Customer</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="col-lg-4  col-md-4 ptop30">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Change Customer</button>
        </div>
        <div class="col-lg-4  col-md-4 ">
          <div class="mb-3 input-group-sm">
            <label for="exampleFormControlInput1" class="form-label fontSizeSmall">Account</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="col-lg-4  col-md-4">
          <div class="mb-3 input-group-sm">
            <label for="exampleFormControlInput1" class="form-label fontSizeSmall">AR</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="col-lg-4  col-md-4">
          <div class="mb-3 input-group-sm">
            <label for="exampleFormControlInput1" class="form-label fontSizeSmall">Co Codde</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="col-lg-12  col-md-12">
          <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm fontSizeSmal">Contact</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
            </div>
          </div>
        </div>
        <div class="col-lg-12  col-md-12">
          <div class="form-group">
            <label class="fontSizeSmall" for="exampleFormControlTextarea3">Notes</label>
            <textarea class="form-control" style="height: 50px;" id="exampleFormControlTextarea3" rows="7"></textarea>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4  col-md-4">
      <div class="row">
        <div class="col-lg-6  col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkApproved" disabled>
            <label class="form-check-label fontSizeSmall" for="checkApproved">
              Approved
            </label>
          </div>
        </div>
        <div class="col-lg-6  col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkOverwrite">
            <label class="form-check-label fontSizeSmall" for="checkOverwrite">
              Overwrite Account Execute
            </label>
          </div>
        </div>
        <div class="col-lg-6  col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkZeroSupression">
            <label class="form-check-label fontSizeSmall" for="checkZeroSupression">
              Enable Zero Suppression
            </label>
          </div>
        </div>
        <div class="col-lg-6  col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkStatement">
            <label class="form-check-label fontSizeSmall" for="checkStatement">
              Statement
            </label>
          </div>
        </div>
        <div class="col-lg-6  col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkTaxable">
            <label class="form-check-label fontSizeSmall" for="checkTaxable">
              Taxable
            </label>
          </div>
        </div>
        <div class="col-lg-6  col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkCreditCard">
            <label class="form-check-label fontSizeSmall" for="checkCreditCard">
              Credit card
            </label>
          </div>
        </div>
        <div class="col-lg-12  col-md-12">
          <br><br>
          <div class="mb-3 input-group-sm">
            <label for="exampleFormControlInput1" class="form-label fontSizeSmall ">Select Batch</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Select</option>
              <option value="1">Batch 1</option>
              <option value="2">Batch 2</option>
              <option value="3">Batch 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2  col-md-2">
      <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Reset red Cells</button>
      <br><br>
      <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Clone Profile</button>
      <br><br>
      <p class="fontSizeSmall">MMC Status</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" checked disabled>
        <label class="form-check-label fontSizeSmall" for="flexCheckDisabled">
          Manual
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
        <label class="form-check-label fontSizeSmall" for="flexCheckDisabled">
          Internal
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
        <label class="form-check-label fontSizeSmall" for="flexCheckDisabled">
          External
        </label>
      </div>
    </div>
  </div>
  <p class="mb0"><b>Line Items</b></p>
  <div class="row firstCube">
    <div class="col-lg-8 col-md-8">
      <div class="row">
        <div class="col-lg-3  col-md-3">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">New</button>&nbsp;
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Edit</button>&nbsp;
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Delete</button>
        </div>
        <div class="col-lg-3  col-md-3">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Pramote</button>&nbsp;
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Demote</button>
        </div>
        <div class="col-lg-6  col-md-6">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall">Preview Invoice</button>&nbsp;
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall" disabled>MMC Ext Stat Rpt</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4  col-md-4">
      <div class="row">
        <div class="col-lg-4  col-md-4">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall" disabled>Ok</button>
        </div>
        <div class="col-lg-4  col-md-4">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall" >Cancel</button>
        </div>
        <div class="col-lg-4  col-md-4">
          <button type="button" class="btn btn-secondary btn-sm fontSizeSmall" disabled>Apply</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row firstCube">
    <div class="col-lg-4  col-md-4">
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-lg-5 col-md-5 col-form-label col-form-label-sm fontSizeSmal">
          Select GL Acc Nbr
        </label>
        <div class="col-lg-7 col-md-7">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Select</option>
            <option value="1">Gl 1</option>
            <option value="2">Gl 2</option>
            <option value="3">Gl 3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-4  col-md-4">
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-lg-5 col-md-5 col-form-label col-form-label-sm fontSizeSmal">
          Select Cost Center
        </label>
        <div class="col-lg-7 col-md-7">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Select</option>
            <option value="1">Cost 1</option>
            <option value="2">Cost 2</option>
            <option value="3">Cost 3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-4  col-md-4">
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-lg-5 col-md-5 col-form-label col-form-label-sm fontSizeSmal">
          Jump To Row
        </label>
        <div class="col-lg-7 col-md-7">
          <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row gridTable firstCube">
    <table class="table table-hover" id="excel-table">
      <thead class="thead-dark gridTableHead">
        <tr>
          <th class="gridTableHead" scope="col">Line</th>
          <th class="gridTableHead" scope="col">GL Account Nbr</th>
          <th class="gridTableHead" scope="col">Text</th>
          <th class="gridTableHead" scope="col">Cost Center</th>
          <th class="gridTableHead" scope="col">Qty</th>
          <th class="gridTableHead" scope="col">Rate</th>
          <th class="gridTableHead" scope="col">Ext</th>
          <th class="gridTableHead" scope="col">GroupHead</th>
          <th class="gridTableHead" scope="col">GroupID</th>
          <th class="gridTableHead" scope="col">CreditMemo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gridData">
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
          <td>{{item}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>