.firstCube{
  border: 2px solid #bfbebe;
  padding: 5px;
}

.firstCubeHt{
  height: 200px;
  overflow-y: auto;
}

.ptop30{
  padding-top: 30px;
}

.fontSizeSmall {
  font-size: smaller !important;
}

.gridTable{
  height: 250px;
  overflow-y: auto;
}

.gridTableHead {
  position: sticky;
  top: 0;
  background:#dadada;
}

.mb0 {
  margin-bottom: 0px;
}

td {
  border: 1px solid grey;
  padding: 0px;
  > input {
    border: 0px;
    outline: none;
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
}
tr {
  border-top: 1px solid grey;
}

.customers td, .customers th {
  border: 1px solid grey;
  padding: 8px;
}
