/* You can add global variable classes to this file*/

//== Viewports
$medium: 768px;
$small: 576px;
$large: 992px;



//== Colors
$color-success: #7cb342;
$color-blue: #104580;
$color-black: #000;
$color-yellow: #fbeec7;
$color-yellow-dark: #dfb639;
$color-white: #FFF;
$color-offwhite: #dfdcd4;
$color-gray: #807a66;
$color-warn:#f44336;
$color-lightgreen:#00796b;


//== Sizes
$border-radius: 8px;
$fw-lighter: 400;
$fw-normal: 500;
$fw-bold: 600;


$fs-xs: 11.2px;
$fs-small: 14px;
$fs-normal: 16px;

$fs-xl: 45px;

$mat-primary-color: rgb(63, 81, 181);
