//== Viewports
$medium: 768px;
$small: 576px;
$large: 992px;



//== Colors
$color-success: #7cb342;
$color-blue: #0000FF;
$color-black: #000;
$color-yellow: #ffe599;
$color-white: #FFF;
$color-offwhite: #dfdcd4;


//== Sizes
$border-radius: 8px;
$fw-lighter: 400;
$fw-normal: 500;
$fw-bold: 600;


$fs-xs: 11.2px;
$fs-small: 14px;
$fs-normal: 16px;

$fs-xl: 45px;

$formFieldSizeXXL: 58.656330749%; // 938
$formFieldSize672: 43.410852713%; // 672
$formFieldSizeXL: 28.165374677%; // 436
$formFieldSize323: 20.865633075%; // 323
$formFieldSizeL: 15.503875969%; // 240
$formFieldSizeN: 12.919896641%; // 200

.formFieldSizeXXL {
  width: $formFieldSizeXXL;
}
.formFieldSizeXL {
  width: $formFieldSizeXL;
}
.formFieldSizeL {
  width: $formFieldSizeL;
}
.formFieldSizeN {
  width: $formFieldSizeN;
}
.formFieldSize672 {
  width: $formFieldSize672;
}
.formFieldSize323 {
  width: $formFieldSize323;
}
.w-100 {
  width: 100%;
}
.float-left {
  float: left;
}

$mat-primary-color: #3f51b5;
