//== Viewports
$medium: 768px;
$small: 576px;
$large: 992px;



//== Colors
$color-success: #7cb342;
$color-blue: #0000FF;
$color-black: #000;
$color-yellow: #ffe599;
$color-white: #FFF;
$color-offwhite: #dfdcd4;


//== Sizes
$border-radius: 8px;
$fw-lighter: 400;
$fw-normal: 500;
$fw-bold: 600;


$fs-xs: 11.2px;
$fs-small: 14px;
$fs-normal: 16px;

$fs-xl: 45px;
