/* You can add global styles to this file, and also import other style files */
@import "./variables";

html,
body {
  height: 100%;
}

.w-15 {
  max-width: 15%;
}
.w-10 {
  max-width: 10%;
}
.scroll-table-container {
  height: 400px;
  overflow: auto;
}

.success-snackbar {
  background: mat-color($theme-accent);
}
