/* You can add global styles to this file, and also import other style files */
@import "./theme";
@import "./variables";

html,
body {
  height: 100%;
  font: {
    family: "Roboto";
  }
}

.w-10 {
  max-width: 10%;
}
.w-15 {
  max-width: 15%;
}
.cursor-pointer {
  cursor: pointer;
}
.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner-md {
  width: 4rem;
  height: 4rem;
}
.z-index-10 {
  z-index: 10;
}
.scroll-table-container {
  max-height: 80vh;
  height: 50vh;
  overflow: auto;
}

.snackbar-success {
  background: mat-color($theme-accent);
}
.snackbar-error {
  background: mat-color($theme-warn);
}
/** mat-table css **/
.mat-header-cell {
  color: $color-black;
  font-weight: bold;
  text-align: center;
}

/** mat-table css **/
.background-white {
  background: $color-white;
}

.mat-checkbox-inner-container {
  width: 22px !important;
  height: 22px !important;
  float: left;
}
.mat-checkbox-label {
  margin: {
    top: 3px;
  }
  font: {
    size: 16px;
    weight: 400;
  }
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
section {
  > mat-checkbox {
    font: {
      size: 16px;
      weight: 400;
    }
  }
}
.nextBtn {
  > span {
    font: {
      size: 14px;
      weight: 500;
    }
  }
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

mat-vertical-stepper {
  background: {
    color: #fff;
  }
  .cusInfoblock {
    float: left;
    &:not(:first-child) {
      margin: {
        top: 24px;
      }
    }
    &.addedContact {
      width: 89.276485788%;
      float: left;
      padding: {
        top: 19px;
        right: 1.937984496%;
        bottom: 32px;
        left: 1.61498708%;
      }
      border: 1px solid rgba(0, 0, 0, 0.12);
      margin: {
        left: 0;
      }
      > .title {
        font: {
          size: 20px;
          weight: 500;
        }
        text-transform: capitalize;
        letter-spacing: 0.15px;
        color: rgba(32, 92, 158, 1);
        &:after {
          width: 0;
          height: 0;
        }
      }
      > .blocks {
        > .addedContact {
          width: $formFieldSizeL;
        }
        > .addedPhone,
        > .addedExtension,
        > .addedFax {
          width: $formFieldSizeN;
        }
        > .addedEmail {
          width: $formFieldSizeXXL;
          position: relative;
          > .note {
            position: absolute;
            left: 0;
            bottom: 0;
            font: {
              size: 12px;
              weight: 500;
            }
            line-height: 16px;
            text-transform: capitalize;
            letter-spacing: 0.4px;
            color: rgba(0, 0, 0, 0.3);
          }
        }
        > .btnSection {
          float: left;
          margin: {
            top: 24px;
          }
          > button {
            text-transform: uppercase;
            margin: {
              right: 1.550387597%;
            }
            mat-icon {
              margin: {
                right: 15px !important;
              }
            }
          }
        }
        > p {
          display: inline-block;
        }
      }
    }
    > .blocks {
      .oracleSetup {
        .locationNote {
          float: left;
          margin: {
            top: -12px;
          }
          color: rgba(214, 179, 69, 1);
          font: {
            size: 12px;
            weight: 300;
          }
          > span {
            float: left;
            &:not(:last-child) {
              font: {
                weight: bold;
              }
              margin: {
                right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .title {
    float: left;
    font: {
      size: 16px;
      weight: 400;
    }
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: {
      bottom: 5px;
    }
    margin: {
      bottom: 16px;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 32px;
      height: 4px;
      background: {
        color: rgba(0, 0, 0, 0.6);
      }
    }
    &.active {
      font: {
        size: 18px;
        weight: 500;
      }
      color: rgba(32, 92, 158, 1);
      &:after {
        background: {
          color: #fccf45;
        }
      }
    }
  }
  .blocks {
    float: left;
    > mat-form-field {
      margin: {
        top: 0;
      }
      &.status {
        width: 6.136950904%;
        margin: {
          top: 13px;
        }
      }
      &.contactExt {
        width: 10.335917313%;
      }
      &.emailInvoice {
        width: 10.288065844%;
        margin: {
          top: 13px;
        }
      }
    }
    p {
      display: inline-block;
      margin: {
        right: 2.325581395%;
      }
    }
  }
  .btnSection {
    float: left;
    margin: {
      top: 34px;
    }
    > button {
      text-transform: uppercase;
      margin: {
        right: 1.550387597%;
      }
    }
  }
}
.mat-step-header {
  .mat-step-label.mat-step-label-active {
    font: {
      family: "roboto" !important;
      size: 24px !important;
      weight: normal !important;
    }
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: $color-black !important;
  }
}

button {
  margin: {
    right: 2.325581395%;
  }
  &.mat-primary {
    border-color: $mat-primary-color;
  }
  text-transform: uppercase !important;
  margin: {
    right: 1.550387597% !important;
  }
  mat-icon {
    margin: {
      right: 8px !important;
    }
  }
}
.mat-checkbox {
  display: inline-block;
  margin: {
    right: 2.325581395%;
  }
}

mat-form-field {
  margin: {
    right: 2.325581395%;
  }
}
.mat-step-icon {
  &.mat-step-icon-state-edit {
    color: rgba(252, 207, 69, 1);
  }
}

.w-100 {
  width: 100%;
}
.float-left {
  float: left;
}
