<form [formGroup]="contractInfoFormGroup">
  <div class="contractInfobtns" *ngIf="false">
    <div class="w-100">
      <button mat-stroked-button color="primary">
        <mat-icon>add</mat-icon>Add Contract
      </button>
    </div>
    <div class="note">
      You can add multiple contracts or skip this step and finish the customer creation process
    </div>
    <div class="w-100 btnSection">
      <button mat-stroked-button color="primary">Cancel</button>
      <button mat-stroked-button color="primary">Previous</button>
      <button mat-flat-button color="primary">Create Customer</button>
    </div>
  </div>
  <div formArrayName="contract"
    *ngFor="let contract of contractInfoFormGroup.get('contract')['controls']; let i = index;">
      <mat-checkbox class="example-margin" color="primary">Contract {{i + 1}}</mat-checkbox>
    <div class="cusInfoblock w-100 contractInfo" [formGroupName]="i">
      <div class="w-100 float-left">
        <p class="title active">Contract Information</p>
        <div class="blocks w-100">
          <mat-form-field appearance="fill" class="formFieldSizeXL">
            <mat-label>Agreement</mat-label>
            <mat-select formControlName="agreement">
              <mat-option value="{{agreement.id}}" *ngFor="let agreement of metaData.agreementList">
                {{agreement.agreement}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="formFieldSizeN">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="agreementPicker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="agreementPicker"></mat-datepicker-toggle>
            <mat-datepicker #agreementPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" class="formFieldSizeN">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <p class="formFieldSizeN">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Term</mat-label>
              <input matInput placeholder="Placeholder" formControlName="term">
              <mat-hint>Months</mat-hint>
            </mat-form-field>
          </p>
          <p class="formFieldSizeN">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Renewal Term</mat-label>
              <input matInput placeholder="Placeholder" formControlName="renewalterm">
              <mat-hint>Months</mat-hint>
            </mat-form-field>
          </p>
          <p class="formFieldSizeN">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Notification</mat-label>
              <input matInput placeholder="Placeholder" formControlName="notification">
              <mat-hint>Days</mat-hint>
            </mat-form-field>
          </p>
          <mat-form-field appearance="fill" class="formFieldSize672">
            <mat-label>Contract Number</mat-label>
            <input matInput placeholder="Contract Number" formControlName="contractNumber">
          </mat-form-field>
            <mat-checkbox class="example-margin" color="primary" formControlName="unlimitedAutoRenew">Unlimited Auto
              Renew</mat-checkbox>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Contract Link</mat-label>
            <input matInput placeholder="Contract Link" formControlName="contractLink">
          </mat-form-field>
        </div>
      </div>
      <div class="w-100 sow">
        <p class="title active w-100">Options</p>
        <div class="w-100" formArrayName="sows"
          *ngFor="let sow of contract.get('sows')['controls']; let sowIndex = index;">
            <mat-checkbox class="example-margin" color="primary">Sow {{sowIndex + 1}}</mat-checkbox>
          <div class="blocks w-100 sowContent" [formGroupName]="sowIndex">
            <div class="w-100">
                <mat-checkbox class="example-margin" color="primary" formControlName="cpi">CPI</mat-checkbox>
              <p class="formFieldSize323">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>CPI Cap</mat-label>
                  <input matInput placeholder="Placeholder" formControlName="cpiCap">
                  <mat-hint>Percentage</mat-hint>
                </mat-form-field>
              </p>
              <mat-form-field appearance="fill" class="$formFieldSizeN">
                <mat-label>Sow No</mat-label>
                <input matInput formControlName="sowNo">
              </mat-form-field>
              <mat-form-field appearance="fill" class="formFieldSizeN">
                <mat-label>Sow Date</mat-label>
                <input matInput [matDatepicker]="sowDatePicker" formControlName="sowDate">
                <mat-datepicker-toggle matSuffix [for]="sowDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #sowDatePicker></mat-datepicker>
              </mat-form-field>
              <button mat-stroked-button [disabled]="!sow['controls'].sowDate.value"
                (click)="sow['controls'].sowDate.setValue('')">Reset Sow Date</button>
            </div>
            <div class="w-100" formArrayName="amendmentDates"
              *ngFor="let ammendment of sow.get('amendmentDates')['controls']; let amdIndex = index;">
              <div [formGroupName]="amdIndex">
                <mat-form-field appearance="fill" class="formFieldSizeXL">
                  <mat-label>Amendment No</mat-label>
                  <input matInput formControlName="amendmentNo">
                </mat-form-field>
                <mat-form-field appearance="fill" class="formFieldSizeN">
                  <mat-label>Amendment Date</mat-label>
                  <input matInput [matDatepicker]="amendmentPicker" formControlName="amendmentDate">
                  <mat-datepicker-toggle matSuffix [for]="amendmentPicker"></mat-datepicker-toggle>
                  <mat-datepicker #amendmentPicker></mat-datepicker>
                </mat-form-field>
                <button mat-stroked-button [disabled]="!ammendment['controls'].amendmentDate.value"
                  (click)="ammendment.reset()">Reset Amendment Date</button>
              </div>
            </div>
            <button mat-stroked-button (click)="addAmmendment(sow)">
              <mat-icon>add</mat-icon>Add Amendment Date
            </button>

            <div class="btnSection w-100">
              <button mat-stroked-button [disabled]="sowIndex === 0" (click)="deleteSow(contract, i)">Delete
                Sow</button>
              <button mat-stroked-button color="primary" (click)="sow.reset()">Reset Sow</button>
            </div>
          </div>
        </div>
        <div class="btnSection w-100">
          <button mat-stroked-button color="primary" (click)="addSow(contract)">
            <mat-icon>add</mat-icon>Add Sow
          </button>
        </div>
        <div class="btnSection w-100">
          <button mat-stroked-button color="primary" (click)="deleteContract(i)">Delete Contract</button>
          <button mat-stroked-button color="primary" (click)="contract.reset()">Reset Contract</button>
          <button mat-stroked-button color="primary">Save Contract</button>
        </div>
      </div>
    </div>
  </div>
  <div class="btnSection w-100">
    <button mat-stroked-button color="primary" (click)="addContract()">
      <mat-icon>add</mat-icon>Add Contract
    </button>
  </div>
  <div class="w-100 float-left">
    <p class="w-100 float-left">
      <mat-form-field class="example-full-width" appearance="fill" class="w-100">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="address"></textarea>
      </mat-form-field>
    </p>
  </div>
  <div class="btnSection w-100">
    <button mat-stroked-button color="primary" (click)="contractInfoFormGroup.reset()">Reset</button>
    <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
    <button mat-stroked-button disabled>Create Customer</button>
  </div>
</form>
