<form [formGroup]="contractInfoFormGroup">
  <div class="contractInfobtns" *ngIf="false">
    <div class="w-100">
      <button mat-stroked-button color="primary">
        <mat-icon>add</mat-icon>Add Contract
      </button>
    </div>
    <div class="note active">
      You can add multiple contracts or skip this step and finish the customer creation process
    </div>
    <div class="w-100 btnSection">
      <button mat-stroked-button color="primary">Cancel</button>
      <button mat-stroked-button color="primary">Previous</button>
      <button mat-flat-button color="primary">Create Customer</button>
    </div>
  </div>
  <div formArrayName="contract"
    *ngFor="let contract of contractInfoFormGroup.get('contract')['controls']; let i = index;">
    <mat-checkbox class="example-margin" color="primary">Contract {{i + 1}}</mat-checkbox>
    <div class="cusInfoblock w-100 contractInfo" [formGroupName]="i">
      <div class="w-100 float-left">
        <p class="title active">Contract Information</p>
        <div class="blocks w-100">
          <div fxLayout="column" fxLayout.gt-xs="row">
            <fieldset fxFlex="100%" fxLayoutGap="2.3%">
              <mat-form-field appearance="fill" fxFlex="28.1%">
                <mat-label>Agreement</mat-label>
                <mat-select formControlName="agreement">
                  <mat-option value="{{agreement.id}}" *ngFor="let agreement of metaData.agreementList">
                    {{agreement.agreement}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="12.9%">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="agreementPicker" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="agreementPicker"></mat-datepicker-toggle>
                <mat-datepicker #agreementPicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="12.9%">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
              <p fxFlex="12.9%">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Term</mat-label>
                  <input matInput placeholder="Term" formControlName="term" required>
                  <mat-hint>Months</mat-hint>
                  <mat-error *ngIf="contract.controls['term'].errors?.required">This field is mandatory.
                  </mat-error>
                  <mat-error *ngIf="contract.controls['term'].errors?.maxlength">Maximum 3 characters.
                  </mat-error>
                  <mat-error *ngIf="contract.controls['term'].errors?.pattern">Numbers only.
                  </mat-error>
                </mat-form-field>
              </p>
              <p fxFlex="12.9%">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Renewal Term</mat-label>
                  <input matInput placeholder="Renewal Term" formControlName="renewalterm" required>
                  <mat-hint>Months</mat-hint>
                  <mat-error *ngIf="contract.controls['renewalterm'].errors?.required">This field is mandatory.
                  </mat-error>
                  <mat-error *ngIf="contract.controls['renewalterm'].errors?.maxlength">Maximum 3 characters.
                  </mat-error>
                  <mat-error *ngIf="contract.controls['renewalterm'].errors?.pattern">Numbers only.
                  </mat-error>
                </mat-form-field>
              </p>
            </fieldset>
          </div>
          <div fxLayout="column" fxLayout.gt-xs="row">
            <fieldset fxFlex="100%" fxLayoutGap="2.3%">
              <p fxFlex="12.9%">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Notification</mat-label>
                  <input matInput placeholder="Placeholder" formControlName="notification" required>
                  <mat-hint>Days</mat-hint>
                  <mat-error *ngIf="contract.controls['notification'].errors?.required">This field is mandatory.
                  </mat-error>
                  <mat-error *ngIf="contract.controls['notification'].errors?.maxlength">Maximum 3 characters.
                  </mat-error>
                  <mat-error *ngIf="contract.controls['notification'].errors?.pattern">Numbers only.
                  </mat-error>
                </mat-form-field>
              </p>
              <mat-form-field appearance="fill" fxFlex="43.4%">
                <mat-label>Contract Number</mat-label>
                <input matInput placeholder="Contract Number" formControlName="contractNumber">
                <mat-error *ngIf="contract.controls['contractNumber'].errors?.maxlength">Maximum 75 characters.
                </mat-error>
              </mat-form-field>
              <mat-checkbox class="example-margin" color="primary" formControlName="unlimitedAutoRenew">Unlimited Auto
                Renew</mat-checkbox>
            </fieldset>
          </div>
          <div fxLayout="column" fxLayout.gt-xs="row">
            <fieldset fxFlex="100%" fxLayoutGap="2.3%">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Contract Link</mat-label>
                <input matInput placeholder="Contract Link" formControlName="contractLink">
              </mat-form-field>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="w-100 sow">
        <p class="title active w-100">Options</p>
        <div class="w-100" formArrayName="sows"
          *ngFor="let sow of contract.get('sows')['controls']; let sowIndex = index;">
          <mat-checkbox class="example-margin" color="primary">Sow {{sowIndex + 1}}</mat-checkbox>
          <div class="blocks w-100 sowContent" [formGroupName]="sowIndex">
            <div class="w-100">
              <div fxLayout="column" fxLayout.gt-xs="row">
                <fieldset fxFlex="100%" fxLayoutGap="2.3%">
                  <mat-checkbox class="example-margin" color="primary" formControlName="cpi">CPI</mat-checkbox>
                  <p fxFlex="20.8%">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>CPI Cap</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="cpiCap" required>
                      <mat-error *ngIf="sow.controls['cpiCap'].errors?.required">This field is mandatory.
                      </mat-error>
                      <mat-error *ngIf="sow.controls['cpiCap'].errors?.pattern">Numbers only.
                      </mat-error>
                      <mat-hint>Percentage</mat-hint>
                    </mat-form-field>
                  </p>
                  <mat-form-field appearance="fill" fxFlex="12.9%">
                    <mat-label>Sow No</mat-label>
                    <input matInput formControlName="sowNo">
                    <mat-error *ngIf="sow.controls['sowNo'].errors?.maxlength">Maximum 3 characters.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" fxFlex="12.9%">
                    <mat-label>Sow Date</mat-label>
                    <input matInput [matDatepicker]="sowDatePicker" formControlName="sowDate">
                    <mat-datepicker-toggle matSuffix [for]="sowDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #sowDatePicker></mat-datepicker>
                  </mat-form-field>
                  <button mat-stroked-button [disabled]="!sow['controls'].sowDate.value"
                    (click)="sow['controls'].sowDate.setValue('')" class="mt-3">Reset Sow Date</button>
                </fieldset>
              </div>
            </div>
            <div class="w-100" formArrayName="amendmentDates"
              *ngFor="let ammendment of sow.get('amendmentDates')['controls']; let amdIndex = index;">
              <div [formGroupName]="amdIndex">
                <div fxLayout="column" fxLayout.gt-xs="row">
                  <fieldset fxFlex="100%" fxLayoutGap="2.3%">
                    <mat-form-field appearance="fill" fxFlex="28.1%">
                      <mat-label>Amendment No</mat-label>
                      <input matInput formControlName="amendmentNo">
                      <mat-error *ngIf="ammendment.controls['amendmentNo'].errors?.maxlength">Maximum 25 characters.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="12.9%">
                      <mat-label>Amendment Date</mat-label>
                      <input matInput [matDatepicker]="amendmentPicker" formControlName="amendmentDate">
                      <mat-datepicker-toggle matSuffix [for]="amendmentPicker"></mat-datepicker-toggle>
                      <mat-datepicker #amendmentPicker></mat-datepicker>
                    </mat-form-field>
                    <button mat-stroked-button *ngIf="amdIndex > 0" class="mt-3" (click)="deleteAmendment(sow, amdIndex)">Delete</button>
                    <button mat-stroked-button [disabled]="!ammendment['controls'].amendmentDate.value"
                      (click)="pubToReset(ammendment, 'the amendment')" class="mt-3">Reset Amendment Date</button>
                    <button mat-stroked-button (click)="addAmmendment(sow)" class="mt-3">
                      <mat-icon>add</mat-icon>Add Amendment
                    </button>
                  </fieldset>
                </div>
              </div>
            </div>

            <div class="btnSection w-100">
              <button mat-stroked-button [disabled]="sowIndex === 0" (click)="deleteSow(contract, i)">Delete
                Sow</button>
              <button mat-stroked-button color="primary" (click)="pubToReset(sow, 'the selected sow')">Reset
                Sow</button>
            </div>
          </div>
        </div>
        <div class="btnSection w-100">
          <button mat-stroked-button color="primary" (click)="addSow(contract)">
            <mat-icon>add</mat-icon>Add Sow
          </button>
        </div>
        <div class="btnSection w-100">
          <button mat-stroked-button [color]="(i > 0 ) ? 'primary' : null"  [disabled]="!(i > 0 )" (click)="deleteContract(i)">Delete Contract</button>
          <button mat-stroked-button color="primary" (click)="pubToReset(contract, 'the selected contract')">Reset
            Contract</button>
          <button mat-stroked-button color="primary">Save Contract</button>
        </div>
      </div>
    </div>
  </div>
  <div class="btnSection w-100">
    <button mat-stroked-button color="primary" (click)="addContract()">
      <mat-icon>add</mat-icon>Add Contract
    </button>
  </div>
  <div class="w-100 float-left" *ngIf="contractInfoFormGroup.get('contract')['controls'].length > 0">
    <p class="w-100 float-left">
      <mat-form-field class="example-full-width" appearance="fill" class="w-100">
        <mat-label>Notes</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="notes"></textarea>
        <mat-error *ngIf="contractInfoFormGroup.controls['notes'].errors?.maxlength">Maximum 10240 characters.
        </mat-error>
      </mat-form-field>
    </p>
  </div>
  <div class="btnSection w-100">
    <button mat-stroked-button color="primary" (click)="pubToReset(contractInfoFormGroup,
    'the customer contract information')">Cancel</button>
    <button mat-stroked-button color="primary" matStepperPrevious>Previous</button>
    <button mat-stroked-button color="primary" (click)="createCustomerClick()">Create Customer</button>
  </div>
</form>
