<div class="container-fluid">
  <div class="row">
    <div class="contentFont">
      <br>
      <p>First American Financial Corporation is an American financial services company which provides title insurance
        and settlement services to the real estate and mortgage industries.</p>
      <p>
        The First American Family of Companies’ core business lines include title insurance and closing/settlement
        services; title plant management services; title and other real property records and images; valuation products
        and services; home warranty products; property and casualty insurance; and banking, trust and investment
        advisory services.
      </p>
      <p>
        With total revenue of $5.8 billion in 2017,[2] the company offers its products and services directly and through
        its agents throughout the United States and abroad.
      </p>
      <p>
        First American offers its products and services directly and through its agents and partners throughout the
        United States and in more than 40 countries.[3]
      </p>
      <p>
        In June 2010, First American Financial Corporation was established when The First American Corporation split its
        businesses to create two separate legal entities, First American Financial Corporation (NYSE: FAF) which
        provides title and settlement services to the real estate and mortgage industry, and CoreLogic, a corporation
        specializing in real estate information.
      </p>
    </div>
  </div>
</div>