<!-- <div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center"><b>Register</b></h2>
            <div class="form-group">
                <label for="exampleInputEmail1"><b>First Name</b></label>
                <input type="text" class="form-control" [(ngModel)]="userDetails.name" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"><b>Last Name</b></label>
                <input type="text" class="form-control" numberOnly [(ngModel)]="userDetails.lName"
                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"><b>Email address</b></label>
                <input type="email" class="form-control" [(ngModel)]="userDetails.email" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"><b>Password</b></label>
                <input type="password" class="form-control" [(ngModel)]="userDetails.password"
                    id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" (click)="userRegistration()" class="btn btn-primary">Submit</button>
            <div *ngIf="showWarning" class="alert alert-danger" role="alert">
                {{warningMessage}}
            </div>
        </div>
    </div>
</div> -->


<section class="login-block">
    <div class="container">
        <div class="row ">
            <div class="col login-sec">
                <h2 class="text-center">Register</h2>
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.name"
                            name="fname"  placeholder="Enter First Name">

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Last
                            Name</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.lName"
                           name="lname" placeholder="Enter Last Name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.email"
                           name="email" placeholder="Enter Email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="userDetails.password"
                           name="password" placeholder="Enter Password">
                    </div>


                    <div>
                        <!-- <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember Me</small>
                        </label> -->
                        <br>
                        <button type="submit" class="btn btn-login" (click)="userRegistration()">Register</button>
                    </div>

                </form>
                <div *ngIf="showWarning" class="alert alert-danger" role="alert">
                    <span *ngFor="let item of warningMessage">*{{item}}<br></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div><pre> -->
<!-- interpolation -->
<!-- =========== {{userDetails | json}} -->
<!-- </pre></div> -->