<section class="login-block">
    <div class="container">
        <div class="row ">
            <div class="col login-sec">
                <h2 class="text-center">Register</h2>
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.name"
                            name="fname"  placeholder="Enter First Name">

                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Last
                            Name</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.lName"
                           name="lname" placeholder="Enter Last Name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="userDetails.email"
                           name="email" placeholder="Enter Email">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="userDetails.password"
                           name="password" placeholder="Enter Password">
                    </div>


                    <div>
                      
                        <br>
                        <button type="submit" class="btn btn-login" (click)="userRegistration()">Register</button>
                    </div>

                </form>
                <div *ngIf="showWarning" class="alert alert-danger" role="alert">
                    <span *ngFor="let item of warningMessage">*{{item}}<br></span>
                </div>
            </div>
        </div>
    </div>
</section>
