<div class="cusInfoblock w-100">
    <p class="title active">GREAT! {{metaData.savedCustomer}} SUCCESSFULLY CREATED.</p>

    <div class="w-100 float-left">
        <div class="float-left numsBlock">
            <span class="w-100 float-left">Location Number</span>
            <span class="w-100 float-left">DTS-102931</span>
        </div>
        <div class="float-left numsBlock">
            <span class="w-100 float-left">Customer Number</span>
            <span class="w-100 float-left">DTS-102931</span>
        </div>
    </div>
    <div class="w-100 btnSection">
        <button mat-flat-button color="primary">View Details</button>
    </div>
    <div class="w-100 btnSection">
        <button mat-stroked-button color="primary"><mat-icon>account_box</mat-icon>Create Customer</button>
        <button mat-stroked-button color="primary"><mat-icon>dashboard</mat-icon>Back to Dashboard</button>
    </div>
</div>